    *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

body{
    line-height: 1.6rem;
    background:linear-gradient(-120deg, #f9f9f9, #edeeeb) ;

}


main{
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    
}

h1{
    font-size: 1.9rem;

}

.formCadastro h1{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    padding: 15px;
    background-color: yellow;


}


 


