*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
   
}

body{
    font-family: Arial, sans-serif;
        
    color: #333;
    background: linear-gradient(to left , #DAE2F8, #D6A4A4);
}

main{
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 2rem;
}


.formulario-section{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
}

.formulario-section h2{
    color: #667eea;
    margin-bottom: 2rem;
    text-align: center;

}


fieldset{
    border: 2px double #d31d1d;
    border-color: black;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;

}

legend{
    font-weight: bold;
    color: #667eea;
    padding: 0 0.5rem;

}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #555;

}

input, select, textarea{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: border-color 0.9s;

}

input:focus, select:focus, textarea:focus{
    outline: none;
    border-color:  #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.3);

}

.radio-group, .checkbox-group{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap:wrap;

}

.radio-group input, .checkbox-group input{
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;

}

.radio-group label, .checkbox-group label{
    display: flex;
    align-items: center;
    margin-bottom: 0;

}

.botoes{
    text-align: center;
    margin-top: 2rem;
}

button{
    background: linear-gradient(135deg, #667eea, #764ba2 100%);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;   
    transition: transform 0.2s;

}

button:hover{
    transform: translateY(-2px);

}

button[type="reset"] {
    background: #6c757d;

}


footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;

}


